* {
    margin: 0;
}
html,body{
    height : 100%;
    overflow : visible;
}
        /*Debut du code Du Menu */
body{
    height:500vh;   /*barre de scroll */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("testfond.jpg");  /*fond degradé*/
    background-size: cover;
}

.container-menu{  /* container du menu */
    display :flex;
    margin-left: auto;    /* met le menu au milieu */
    margin-right: auto;     /* met le menu au milieu */
    gap : 30px;
}

.menu{
    position: sticky; /*colle le menu a la page web directement en l'integrant et peut importe ou l'on scroll cela va suivre*/
    top:0;
    left:0;
    background-color: rgb(75, 92, 107);
    display : flex;
    padding : 0;
    align-items: center;
    height : 50px; /* taille fixe de la barre du menu */
    z-index: 1000;/* ne suffit pas a regler le bug du menu */
}

    /*Logo*/
/* Logo  Instagram , Twitter et Youtube */

.logo-container{         /* Container flex pour les logo*/
    display: flex;
    align-items: center;
    padding:0;
    margin : 0;

}

.logo{  
    width: 27px;
    height: auto;
} 

/* Logo Capgemini */

.container-logocapgemini{
    display: flex;
    padding : 0;
}

.logo_capgemini{
    width: 35px;
    height: auto;

}


/*Fin logo*/

.menu > ul{
    display: flex;
    list-style: none; /* retire les puces */
}

.menu li{
    align-items: center;
    padding : 0;
  
}

.menu li a{
    text-decoration: none; /* retire le souligner du texte */
    color : white;
    display : block;
    padding : 10px 15px;
    margin : 0;
}

.has-sousmenu{
    position : relative;
}






.sous-menu{
    list-style : none;
    position : absolute;
    top : 100%;  /* place le sous menu juste en dessous */
    left : 0;
    background-color: rgb(84, 97, 107);
    padding: 0;
    margin : 0;
    transform: translateY(-50px);                               /*plus la valeur est elever plus le sous menu va descendre de "haut" */
    opacity : 0;                                                /* le sous menu n'est pas visible de base*/
    transition: transform 0.3s ease, opacity 0.4s ease;          /* le sous  menu va mettre 0.3 s a descendre et 0.4s a avoir une opacité de 1*/
    visibility: hidden;



}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    transition: 0.3s ease, color 0.3s ease;

}


.has-sousmenu:hover .sous-menu{
    transform: translateY(0); /*le sous menu descend donc a 0*/
    opacity : 1;
    visibility: visible;
}


        /* fin code menu*/

/*Code footer*/
footer {
    display: flex;
    align-items: end;
    margin: 10px;
    padding-top: 20px;
}




.box-titre  {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.box-titre img {
    height: 600px;
    width: 92%;
    border-radius: 20px;
}

.nomville {
    font-size: 40px;
}

.container {
    padding: 4%;
    display: flex;
    flex-direction: row;
    padding-bottom: 62px ;
    justify-content: space-around;

}

.infos {
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.infos p {
    width: 80%;
    font-size: 20px;
}

.maps {
    padding: 20px;
}

.maps iframe{
    border-radius: 20px;
    border: none;
    transition: 0,3s ease-in-out;
    opacity: 0.5;
}

iframe:hover {
    transform: scale(1.2);
    opacity: 1;
}

/*section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container > img { 
    justify-content: center;
    height: 600px;
    width: 100%;
}

.maps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin: 20px;
    padding-right: 25px;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    flex-direction: row;
    justify-content: start;
    margin: 50px;
}*/
