body {
  width: 80%;
  max-width: 500px;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

label + * {
  flex-grow: 1;
}

label {
  flex-basis: 240px;
}
input:invalid:not(:placeholder-shown) {
  background-color: pink;
  border-color: tomato;
}
textarea{
  resize: vertical;
}
form  p [type='submit']{
  width: 100%;
  background-color: rgb(240, 240, 240);
  line-height: 40px;
  border: 1px solid gray;
}