body{
    height:500vh;   /*barre de scroll */
}

.menu{
    position: sticky; /*colle le menu a la page web directement en l'integrant et peut importe ou l'on scroll cela va suivre*/
    top:0;
    left:0;
    background-color:rgb(39, 39, 39);
}

.menu > ul{
    display: flex;
    list-style: none; /* retire les puces */
}

.menu li{
    align-items: center;
}

.menu li a{
    text-decoration: none; /* retire le souligner du texte */
    color : white;
    display : block;
    padding : 20px 10px;

}

.has-sousmenu{
    position : relative;
}

.sous-menu{
    list-style : none;
    display:none;
    position : absolute;
    top : 58px;
    left : 0;
    width : max-content;
    background-color: rgb(39, 39, 39);
}

.sous-menu li a:hover{
    background-color: grey;
}
.menu li a:hover {
    background-color: grey;
}

.has-sousmenu:hover .sous-menu{
    display:block;
}


