* {
    margin: 0;
}


@font-face {
    font-family: 'Burbank';
    src: url('burbank-big-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,body{
    height : 100%;
    overflow : visible;
}
        /*Debut du code Du Menu */
body{
    height:auto;   /*barre de scroll */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("particle-lines-futuristic-gradient-background.jpg");
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* Fixe l'image lors du défilement */  /*fond degradé !!!!! à enlever si ça vous plait pas !!!!!!*/

}

.container-menu{  /* container du menu */
    display :flex;
    margin-left: auto;    /* met le menu au milieu */
    margin-right: auto;     /* met le menu au milieu */
    gap : 30px;
}

.menu{
    position: sticky; /*colle le menu a la page web directement en l'integrant et peut importe ou l'on scroll cela va suivre*/
    top:0;
    left:0;
    background-color: rgb(75, 92, 107);
    display : flex;
    padding : 0;
    align-items: center;
    height : 50px; /* taille fixe de la barre du menu */
    z-index: 1000;/* ne suffit pas a regler le bug du menu */
}

    /*Logo*/
/* Logo  Instagram , Twitter et Youtube */

.logo-container{         /* Container flex pour les logo*/
    display: flex;
    align-items: center;
    padding:0;
    margin : 0;

}

.logo{  
    width: 27px;
    height: auto;
} 

/* Logo Capgemini */

.container-logocapgemini{
    display: flex;
    padding : 0;
}

.logo_capgemini{
    width: 35px;
    height: auto;
}


/*Fin logo*/

.menu > ul{
    display: flex;
    list-style: none; /* retire les puces */
}

.menu li{
    align-items: center;
    padding : 0;
  
}

.menu li a{
    text-decoration: none; /* retire le souligner du texte */
    color : white;
    display : block;
    padding : 10px 15px;
    margin : 0;
}

.has-sousmenu{
    position : relative;
}






.sous-menu{
    list-style : none;
    position : absolute;
    top : 100%;  /* place le sous menu juste en dessous */
    left : 0;
    background-color: rgb(84, 97, 107);
    padding: 0;
    margin : 0;
    transform: translateY(-50px);                               /*plus la valeur est elever plus le sous menu va descendre de "haut" */
    opacity : 0;                                                /* le sous menu n'est pas visible de base*/
    transition: transform 0.3s ease, opacity 0.4s ease;          /* le sous  menu va mettre 0.3 s a descendre et 0.4s a avoir une opacité de 1*/
    visibility: hidden;



}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    transition: 0.3s ease, color 0.3s ease;

}


.has-sousmenu:hover .sous-menu{
    transform: translateY(0); /*le sous menu descend donc a 0*/
    opacity : 1;
    visibility: visible;
}


        /* fin code menu*/





#container-titre {
    display: flex;
    justify-content: center;
    padding: 15px;
    padding-bottom: 45px;
}

#container-titre h1 {
    height: 80%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #CCE5FF;
    font-family: "Burbank" , sans-serif;
    font-size: 70px;
    
}

.container-droite {
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
    padding-bottom: 75px;
}

.container-gauche {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding-bottom: 75px;
}

section img {
    width: 35%;
    border-radius: 15px;
    border: 2px outset black;
    transition: 0.3s ease-in-out;
}

section img:hover{
    transform: scale(1.01);
}

.texte-encadre{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly;
}


.titre-encadre {
    align-self: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    background-color: gainsboro;
    font-family: "Burbank" , sans-serif;
}

.txt {
    border: 1px solid black;
    border-radius: 20px;
    background-color: gainsboro;
    padding: 15px;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}

.txt:hover {
    transform: scale(1.04);
}

/* .titre-encadre-gauche {
    font-size: 25px;
    justify-content: flex-start;
    padding-left: 120px;
}

.titre-encadre-droite {
    font-size: 25px;
    justify-content: end;
    padding-right: 120px;
}

.texte-encadre-droite {
    display: flex;
    justify-content: end;
}

img {
    width: 40%;
    border-radius: 15px;
}

.image-gauche {
    justify-content: end;
}

.p {
    width: 40%;
}/*






/*Code footer*/



footer {
    position: relative;
    background: #05b3a4;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
  
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.imgur.com/ZAts69f.png");
    background-size: 1000px 100px;
}
  
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}
  
.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}
  
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}
  
@keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
}
  
@keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
}

/* fin code footer */