* {
    margin: 0;
}
html,body{
    height : 100%;
    overflow : visible;
}
        /*Debut du code Du Menu */
body{
    height:500vh;   /*barre de scroll */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("testfond.jpg");  /*fond degradé*/
    background-size: cover;
}

.container-menu{  /* container du menu */
    display :flex;
    margin-left: auto;    /* met le menu au milieu */
    margin-right: auto;     /* met le menu au milieu */
    gap : 30px;
}

.menu{
    position: sticky; /*colle le menu a la page web directement en l'integrant et peut importe ou l'on scroll cela va suivre*/
    top:0;
    left:0;
    background-color: rgb(75, 92, 107);
    display : flex;
    padding : 0;
    align-items: center;
    height : 50px; /* taille fixe de la barre du menu */
    z-index: 1000;/* ne suffit pas a regler le bug du menu */
}

    /*Logo*/
/* Logo  Instagram , Twitter et Youtube */

.logo-container{         /* Container flex pour les logo*/
    display: flex;
    align-items: center;
    padding:0;
    margin : 0;

}

.logo{  
    width: 27px;
    height: auto;
} 

/* Logo Capgemini */

.container-logocapgemini{
    display: flex;
    padding : 0;
}

.logo_capgemini{
    width: 35px;
    height: auto;

}


/*Fin logo*/

.menu > ul{
    display: flex;
    list-style: none; /* retire les puces */
}

.menu li{
    align-items: center;
    padding : 0;
  
}

.menu li a{
    text-decoration: none; /* retire le souligner du texte */
    color : white;
    display : block;
    padding : 10px 15px;
    margin : 0;
}

.has-sousmenu{
    position : relative;
}






.sous-menu{
    list-style : none;
    position : absolute;
    top : 100%;  /* place le sous menu juste en dessous */
    left : 0;
    background-color: rgb(84, 97, 107);
    padding: 0;
    margin : 0;
    transform: translateY(-50px);                               /*plus la valeur est elever plus le sous menu va descendre de "haut" */
    opacity : 0;                                                /* le sous menu n'est pas visible de base*/
    transition: transform 0.3s ease, opacity 0.4s ease;          /* le sous  menu va mettre 0.3 s a descendre et 0.4s a avoir une opacité de 1*/
    visibility: hidden;



}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    transition: 0.3s ease, color 0.3s ease;

}


.has-sousmenu:hover .sous-menu{
    transform: translateY(0); /*le sous menu descend donc a 0*/
    opacity : 1;
    visibility: visible;
}


        /* fin code menu*/



/* css à compléter selon les classes présentes dans le fichier html lié */

#container-titre {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    padding: 15px;
}

#container-titre h1 {
    height: 80%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
}

.container-droite {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding-bottom: 50px;
    align-items: end;
}

.container-gauche {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding-bottom: 50px;
    align-items: start;
}

img {
    width: 40%;
    border-radius: 15px;
}



/* .titre-encadre-gauche {
    font-size: 25px;
    justify-content: flex-start;
    padding-left: 120px;
}

.titre-encadre-droite {
    font-size: 25px;
    justify-content: end;
    padding-right: 120px;
}

.texte-encadre-droite {
    display: flex;
    justify-content: end;
}

img {
    width: 40%;
    border-radius: 15px;
}

.image-gauche {
    justify-content: end;
}

.p {
    width: 40%;
}/*
