* {
    margin: 0;

}

        /*Debut du code Du Menu */
body{
    height:500vh;   /*barre de scroll */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.menu{
    position: sticky; /*colle le menu a la page web directement en l'integrant et peut importe ou l'on scroll cela va suivre*/
    top:0;
    left:0;
    background-color: rgb(75, 92, 107);
    display : flex;
    padding : 0;
    align-items: center;
    height : 50px; /* taille fixe de la barre du menu */
}

    /*Logo*/
/* Logo  Instagram , Twitter et Youtube */

.logo-container{         /* Container flex pour les logo*/
    display: flex;
    align-items: center;
    padding:0;
    margin : 0;

}

.logo{  
    width: 27px;
    height: auto;
} 

/* Logo Capgemini */

.container-logocapgemini{
    display: flex;
    padding : 0;
}

.logo_capgemini{
    width: 40px;
    height: auto;

}

/*Fin logo*/

.menu > ul{
    display: flex;
    list-style: none; /* retire les puces */
}

.menu li{
    align-items: center;
}

.menu li a{
    text-decoration: none; /* retire le souligner du texte */
    color : white;
    display : block;
    padding : 20px 10px;
}

.has-sousmenu{
    position : relative;
}

.container-menu{  /* container du menu */
    display :flex;
    margin-left: auto;    /* met le menu au milieu */
    margin-right: auto;     /* met le menu au milieu */
    gap : 30px;
}



.sous-menu{
    list-style : none;
    position : absolute;
    top : 100%;  /* place le sous menu juste en dessous */
    left : 0;
    background-color: rgb(84, 97, 107);
    padding: 0;
    margin : 0;
    transform: translateY(-50px);                               /*plus la valeur est elever plus le sous menu va descendre de "haut" */
    opacity : 0;                                                /* le sous menu n'est pas visible de base*/
    transition: transform 0.3s ease, opacity 0.4s ease;          /* le sous  menu va mettre 0.3 s a descendre et 0.4s a avoir une opacité de 1*/
    visibility: hidden;

}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    transition: 0.3s ease, color 0.3s ease;
    visibility: visible;
}


.has-sousmenu:hover .sous-menu{
    transform: translateY(0); /*le sous menu descend donc a 0*/
    opacity : 1;
}


        /* fin code menu*/


.titre {
    background-image: url(photo-acceuil.png);
    padding-bottom: 950px;
}

.titre h1 {
    font-size: 120px;
    padding-top: 200px;
    padding-left: 150px;
    font-weight: bold;
}

.titre p {
    padding-left: 160px;
    font-size: 40px;
}

.box-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.infos {
    padding: 25px;
    width: 60%;
    font-size: 20px;
    padding-right: 300px;
}

.button {
    justify-content: end;
    padding: 25px;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    border-radius: 20px 20px 20px 20px;
    height: 30%;
}

/*Code footer*/
footer { 
    display: flex;
    align-items: end;
    margin: 10px;
    padding-top: 20px;
}
